
body {
  background-image: url("https://www.mascotas.com/cms/revista/Revista_60d49c2b782e3_24062021.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  /* min-height: 100%;
  min-width: 800px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0; */
  }
  
  /*body::before{
    content:"";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    opacity: 0.5;
  
  }*/
  
 



/*.background-image{
    opacity: 0.6;
}*/

